body {
		background-image: url("fundo.jpg");
	}
	
    h1 {
        text-align: center;
		text-transform: uppercase;
		font-family: "Courier New", Lucida Console;
    }
	
	h3 {
		font-family: "Courier New", Lucida Console;
	}
	
	p {
		font-family: "Times New Roman", Times, serif;
		font-size: 15px;
	}
	
	.texto {
		text-align: center;
	}
